main {
    display: block;
    margin: 3rem auto;
    max-width: 90vw;
    width: 50ch;
  }
  h1 {
    text-align: center;
  }
  button.start-button {
    
    box-sizing: border-box;
    height: 25px;
    width: 80px;
    order: 2;
    background-color: blueviolet;
    color: beige;
    border-radius: 8px;
  }
  button:hover {
    background-color: rgb(173, 57, 57);
  }
  button.submit-button {
    
    box-sizing: border-box;
    height: 25px;
    width: 80px;
    order: 2;
    background-color: blueviolet;
    color: beige;
    border-radius: 8px;
  }
  button.back-button {
    
    box-sizing: border-box;
    height: 25px;
    width: 80px;
    order: 2;
    background-color: blueviolet;
    color: beige;
    border-radius: 8px;
  }
  button.clear-button {
    
    box-sizing: border-box;
    height: 25px;
    width: 80px;
    order: 2;
    background-color: blueviolet;
    color: beige;
    border-radius: 8px;
  }
  #container {
    visibility: hidden;
    text-align: center;
    margin: 3rem auto;
    font-size: 1.75rem;
    padding: 0;
  }
  ol {
    text-align: center;
    box-sizing: border-box;
    margin: 3rem auto;
    font-size: 1.75rem;
    padding: 0;

  
  }
  
  li {
    margin: 1.2rem 0;
    background-color: blueviolet;
    border-radius: 5px;
  }
  .high-scores {text-align: center;
    box-sizing: border-box;
    margin: 3rem auto;
    font-size: 1.75rem;
    padding: 0;}